/* utilities.css */

.overflow-hidden {
    overflow: hidden;
  }

  .text-right {
    text-align: right;
  }

  .pointer:hover {
    cursor: pointer;
  }

  .opacity-0 {
    opacity: 0;
  }

  .s-up {
    transform: translateY(45px);
  }

  :is(.bgpink, .bgyellow, .bggreen, .bgwhite) > path {
    fill: var(--color-yellow);
  }

  .bggreen > path {
    fill: var(--color-yellow);
  }

  .bgwhite > path {
    fill: var(--color-pink);
  }

  :is(.bgpink, .bggreen) {
    color: var(--color-yellow) !important;
    border-color: var(--color-yellow) !important;
  }

  .bgyellow {
    color: var(--color-green) !important;
    border-color: var(--color-green) !important;
  }

  :is(.bgpink, .bggreen, .bgyellow) .donspan {
    color: var(--color-green) !important;
  }

  .bgpink .donspan,
  .bggreen .donspan {
    background-color: var(--color-yellow) !important;
  }

  .bgyellow .donspan {
    background-color: var(--color-green) !important;
    color: var(--color-yellow) !important;
  }

  .pointer:hover {
    cursor: pointer;
}

.img-h-full {
    height: 100%;
    object-fit: cover;
}

  @media screen and (max-width: 700px) {
    .mt-1 {
      margin-top: 1rem !important;
    }
  }